* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Tangerine", serif;
}

.wrap-container {
  position: absolute;
  bottom: 20%;
  left: 10%;
  display: flex;
  overflow: hidden;
  width: 80vw;
  max-width: 1000px;
  border: 5px solid hotpink;
}

.slide {
  transition: all 0.25s ease-in-out;
  text-align: center;
  width: 100%;
  height: 100%;

  border: 2px solid aqua;
}

.slide:nth-child(1) {
  left: 0%;
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(3) {
  left: 200%;
}

.slide:nth-child(4) {
  left: 300%;
}

.slide:nth-child(5) {
  left: 400%;
}

.slide {
  transform: translateX(0%);
}

.logo {
  position: absolute;
  background-color: lightseagreen;
  cursor: pointer;
  top: 20px;
  left: 60px;
}

.blog-navigation {
  background-color: lightslategrey;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 80px;
}

span {
  padding: 10px;
}

.side-description {
  position: absolute;
  background-color: lightblue;
  top: 25%;
  display: grid;

  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotateX(90);

  left: 20px;
  cursor: pointer;
}

.social-bar {
  position: absolute;
  background-color: indianred;
  display: grid;
  gap: 40px;
  top: 40%;
  right: 20px;
}

.social-media-wrap {
  display: flex;
  background-color: rgba(220, 210, 230, 0.979);
}

.button-direction-left {
  position: absolute;
  background-color: lightgreen;
  bottom: 10px;
  cursor: pointer;
  left: 60px;
}

.button-direction-right {
  position: absolute;
  background-color: lightsalmon;
  cursor: pointer;
  bottom: 10px;
  right: 80px;
}
.carousel-indicator {
  position: absolute;
  background-color: bisque;
  bottom: 5px;
  right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
